{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "@/util/(.*)$",
        "@/components/(.*)$",
        "@/site/(.*)$",
        "@/lib/(.*)$",
        "@/*/(.*)$",
        "^[./]"
    ],
    "tailwindFunctions": ["clsx"],
    "importOrderSeparation": true,
    "tabWidth": 4
}
