.arrow {
    height: var(--height);
}

.right {
    clip-path: polygon(-20% 0%, 0% 0%, 100% 50%, 0% 100%, -20% 100%);
    left: 100%;
}

.left {
    clip-path: polygon(120% 0%, 100% 0%, 0% 50%, 100% 100%, 120% 100%);
    right: 100%;
}
