@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Counter Arial";
    src: local("Counter Arial"), url("/countarial.woff2");
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* * {
    outline: 1px solid red;
} */
