.Nav {
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    height: 100%;
}

.Items {
    display: flex;
    list-style: none;
}
